html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
body{
    margin: auto;
}
h1 {
    color: green;
}
ul {
    text-decoration: none;
}
a{
    text-decoration: none;
    color: black;
}
.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.header {
    display: flex;
    max-width: 100%;
    margin: auto;
    padding: 3rem auto;
    background-color: white;
}

.header-div {
    margin-right: 15rem;
}

.header-div-text {
    font-size: 1.6rem;
    font-weight: bolder;
    font-style: oblique;
    text-shadow: 0 1rem 2rem rgba(0,0,0,1);
    padding: 10rem auto;
}
.header-center{
    text-align: center;
    margin: auto;
    font-size: 1.4rem;
}
.header-div-parag {
    font-size: 1rem;
    font-style: italic;
    text-align: center;
    text-overflow: ellipsis;
    text-shadow: 0 1rem 2rem rgba(0,0,0,.8);
}
.nav-toggle {
    display: none;
}
.header-nav {
    display: flex;
    justify-content: space-around;
}

.header-nav-text {
    font-size: 1rem;   
    border-radius: 1rem;
    padding: .5rem 1rem; 
    margin: auto 1rem;
    justify-content: center;
}
.header-nav-text:active{
    color: green;
}
.header-nav-text:first-child{
    background-color: gray;
    color: white;
}

.header-nav-text:first-child:hover{
    color: green;
    background-color: transparent;
    transform: translateX(.3rem);
    outline-style: solid;
    outline-width: .2rem;
    outline-color: grey;
}

.header-nav-text:not(:first-child):hover{
    background-color: gray;
    color: white;
    transform: translateX(.3rem);
}

.section-second {
    background-image:linear-gradient(to right, rgba(128,128,128,.1), rgba(0,255,0,.1)), url(piano.jpg);
   background-size: cover;
   padding: 15rem auto;
}

.desc-big {
    font-size: 2.2rem;
    color: white;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    line-height: 1.35;
    word-spacing: 1.3;
    text-shadow: 0 1rem 2rem rgb(60, 179, 113,.4);
}

.section-div {
    max-width: 30%;
    padding: 10rem 1.5rem;    
    z-index: 10;
}

.section-div-contact {
    color: white;
    font-size: 1.1rem;   
    border-radius: 1rem;
    padding: .5rem .5rem;
    margin: auto 6rem; 
    background-color: green;
    text-align: center;
    background-size: cover;
    box-shadow: 0 .5rem 1rem rgba(128,128,128,.7);
    cursor: pointer;
    transition: all .2s;
}

.section-div-contact:hover{
    transform: translateY(-.2rem);
    box-shadow: .5rem 1rem 2rem rgba(128,128,128,.7);
}

.section-third {
    display: flex;
    max-width: 90%;
    margin: auto;
}

.section-third-div{
    padding: 3rem 2rem;
}

.desc-small {
    font-size: 1.25rem;
    word-spacing: 1.3;
    line-height: 1.7;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact-article{
    background-image: radial-gradient(rgba(60,179,113,.3), rgba(128,128,128,.3));
    display: flex;   
}

.contact-article-div{
    display: flex;
}

.center{
   padding: 3rem 2rem;

}

.text-part {
    margin-top: 3rem;
}

.delivery-section {
    background-image: url(delivery-background.webp);
    background-size: cover;
    width: 100%;
    margin: auto;
    padding: 20rem auto;
}
.delivery-div{
  width: 50%;
  margin:1rem  auto;
  padding: 2rem auto; 
  background-size: cover;
}
.delivery-parag {
    padding: 3rem;
    background-color: white;
}


.request-section{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    background-color: rgba(60,179,113,.3);
    padding: 2rem auto;
    margin: 4rem auto;
    transform: skewY(5deg);
    box-shadow: 2rem 2rem 3rem rgba(128,128,128,.6);
}
.request-div {
    height: 20rem;
    width: 15rem;
    margin: 2rem auto;
    text-align: center;
    transform: skewY(-5deg);
    background-image: radial-gradient(rgba(128,128,128,.3), rgba(128,128,128,.7));
}
.request-text{
    display: inline-block;
    margin: auto;
    text-align: center;
}
.top-link {
    font-size: 1.25rem;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
    border-radius: 2rem;
    background-color: green;
    color: white;
    animation: bounce 2s ease-in-out infinite;
    visibility: hidden;
    z-index: -100;
  }
  .scroll-link {
    visibility: visible;
    z-index: 100;
  }
  @keyframes bounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
  
@media screen and (max-width: 800px) {
 
    .header{
        display: inline-block;
        margin:0 auto;
        max-width: 100% ;
    }
    .nav {
        display: flex;
        align-items: center;
        justify-items: space-between;
    }
    .header-div-text {
        font-size: 1.1rem ;
        padding: 0 1rem; 
        text-align: center;    
    }
    .header-div-parag{
        font-size: .85rem;
        font-style: oblique;
    }
    .nav-toggle {
        display: inline-block;
        font-size: 1.8rem;
        background: transparent;
        border-color: transparent;
        cursor: pointer;
        margin: auto 0;
        align-items: right;
    }
    .header-nav {
        display: inline-block;
        margin: auto;
        padding: 5rem auto;
        width: 100%;
        overflow: hidden;
        height: 0;*/
    }
       
    .show-nav {
        overflow: visible;
        height: auto;
    }
    .header-nav-text {
        width: 50%;
        margin: auto;
        font-size: 1rem;   
        padding: 1rem 1rem; 
        text-align: center;
        font-weight: bolder;
    }
    .header-nav-text:first-child{
        background-color: transparent;
        color: black;
    }

    .header-nav-text:hover{
        color: green;
        background-color: transparent;
        transform: translateX(.3rem);
        outline-style: solid none;
        outline-width: .2rem;
        outline-color: grey;
    }

    .header-nav-text:not(:first-child):hover{
        background-color: transparent;
        color: green;
        transform: translateX(.3rem);
    }
    .header-center {
        font-size: 1.3rem;
    }

    
.section-second {
   display: inline-block;
   margin: auto;
   background-image:linear-gradient(to right, rgba(128,128,128,.1), rgba(0,255,0,.1)), url(piano.jpg);
   background-size: cover;
   padding: 15rem auto;
}

.section-div {
    max-width: 100%;
    padding: 10rem 1.5rem;    
}


.desc-big {
    text-align: center;
    margin: auto;
    margin-bottom: 2rem;
    font-size: 1.9rem;
    line-height: 1.3;
    word-spacing: 1.4;
}


.section-third {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: auto;
}
.section-third-second {
    flex-direction: column-reverse;
}
.section-third-div{
    padding: 1rem 0;
}

.desc-small {
    text-align: center;
    font-size: 1.1rem;
    word-spacing: 1.1;
    line-height: 1.25;
    color: gray;

}
.contact-article{
 display: inline-block;
 margin: auto;
}
.contact-article-div{
    align-items: center;
}
.truck {
    margin: auto;
}
.delivery-div{
    width: 85%;
    margin: auto;
    padding:  0;
}

.request-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly
}
img{
    width: 90%;
    margin: auto;
}

.request-section{
    display: flex;
    flex-direction: column;
} 
    .request-div {
        height: 20rem;
        width: 15rem;
        margin: 2rem auto;
        text-align: center;
        transform: skewY(-5deg) skewX(3deg);
        background-image: radial-gradient(rgba(128,128,128,.3), rgba(128,128,128,.7));
    
}
}
